* {
    font-family: 'Roboto Slab', serif;
}


body {
    margin: 0;
}

.body-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* SIDEBAR */
.logo {
    margin-bottom: 5em;
    margin-top: 15px;

    font-weight: bolder;
}

.side-bar {
    background-color: lightskyblue;
    height: 120.5vh;

    color: white;

}

.list {
    display: flex;

    margin-bottom: 15px;
}

.first-list {
    margin-bottom: 5em;
}

li {
    list-style: none;
}

ul {
    padding-left: 15px;
}

/* END OF SIDEBAR */


/*NAVBAR  */
#body {
    grid-column-start: 2;
    grid-column-end: 7;
}

.search-bar {
    margin-top: 20px;
}

.search {
    border: none;
    border-radius: 28px;
    background-color: lightslategray;
    height: 1.8em;
    color: white;
}

.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    margin-bottom: 2em;
}

.profile-items {
    display: flex;
    gap: 1rem;
}

.profile-pic {
    border: 1px solid white;
    border-radius: 40px;
}

.greetings-buttons {
    display: flex;
    justify-content: space-around;
}

.greetings {
    display: flex;
    gap: 1.8em;
}

.name {
    font-weight: bolder;
    font-size: 1rem;
}

.hi {
    font-weight: bolder;
}

a {
    background-color: lightskyblue;

    border-radius: 28px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
    margin-top: 5px;
}

a:hover,
a:focus {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rebeccapurple;
}

/* End of NAVBAR  */
main {
    background-color: lightslategray;
}

/* Main Body */

.main-body {
    background-color: lightgrey;
    height: 100vh;
}



.headings {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}

.heading {
    padding-left: 5%;
}

.heading-1 {
    padding-right: 13.5%;
}

.cards-annoucements {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    gap: 2em;
    padding-left: 5%;

}

.cards {
    background-color: white;
    text-align: center;
    border-left: 5px solid yellow;
    border-radius: 10px;
}

.card-buttons {
    display: flex;
    justify-content: right;
    gap: 1em;
    padding-right: 10%;
    padding-bottom: 3%;
}

.annoucements {
    padding-right: 5%;
    width: 70%;
}

.anno-cards {
    background-color: white;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2em;
    text-align: center;
}

.anno-text {
    padding-left: 5%;
    padding-right: 5%;
}